{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block contents %}
<table class="listTable" width="500px">
<tr>
    <th>id</th>
    <th>title</th>
    <th>작성일</th>
    <th>작성자</th>
    <th>연결글</th>
</tr>
{% for opinion in opinions %}
<tr>
<td>{{ opinion.id}}</td>
<td><a href="/view/no/{{opinion.id}}/">{{ opinion.opinion_title}}
    {% if opinion.comment_count > 0 %} [{{ opinion.comment_count }}] {% endif %}
</a>
</td>
<td>{{ opinion.reg_date | date:"o M d"}}</td>
<td>{% autoescape off %}{{ opinion.nickname }}{% endautoescape %}</td>
<td>{{ opinion.linked_opinion_count }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}